{% extends 'chairman/index.html' %}
{% block content %}
<section class="content home">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h5>My Profile</h5>
                    </div>            
                    <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="zmdi zmdi-home"></i> Green Society</a></li>
                            <li class="breadcrumb-item active"> My Profile</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">                
                
    <div class="row clearfix profile-page">
        <div class="col-lg-4 col-md-12">
            <div class="card profile-header">
                <div class="body text-center">
                    <div class="profile-image"> <img src="{{cid.pic.url}}" alt=""> </div>
                    <div>
                        <h4 class="m-b-0"><strong>{{cid.firstname}} {{cid.lastname}}</strong></h4>
                        <span class="job_post">{{uid.role}}</span>
                        <p>{{cid.contact}}</p>
                    </div>
                </div>                    
            </div>              
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="card">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Editprofile">Edit Profile</a></li>                        
                </ul>
                <div class="tab-content">
                    <div class="tab-pane body active" id="about">
                        <h6>Informations</h6>
                        <hr>
                        <ul class="list-unstyled">
                            <li>
                                <p><strong>Name :~ </strong> {{cid.firstname}} {{cid.lastname}}</p>
                            </li>
                            <li>
                                <p><strong>Contact :~ </strong> {{cid.contact}}</p>
                            </li>
                            <li>
                                <p><strong>Gender :~ </strong> {{cid.gender}}</p>
                            </li>
                            <li>
                                <p><strong>Visting Time :~</strong> {{cid.visting_time}}</p>
                            </li>
                        </ul>
                    </div>
                    
                        <div class="tab-pane body" id="Editprofile">
                            <form method="POST" action="{% url 'change-password' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Username" value="{{uid.email}}" readonly>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="currentpassword" placeholder="Current Password" value="{{uid.password}}">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="newpassword" placeholder="New Password">
                                </div>
                                <input type="submit" name="submit" class="btn btn-info btn-round" value="Change Password">
                            </form>
                                <hr>
                            <form method="POST" action="{% url 'my-profile' %}" enctype="multipart/form-data">
                                {% csrf_token %}    
                                <div class="row clearfix">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="firstname" placeholder="First Name" value="{{cid.firstname}}">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="lastname" placeholder="Last Name" value="{{cid.lastname}}">
                                        </div>
                                    </div>                                    
                                    <div class="col-lg-4 col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="contact" placeholder="Contact No..." value="{{cid.contact}}">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="gender" placeholder="Gender" value="{{cid.gender}}">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="visting_time" placeholder="Visting Time" value="{{cid.visting_time}}">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="file" class="form-control" name="pic" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <input type="submit" class="btn btn-primary btn-round" value="Save Changes">
                                    </div>
                                </div>
                            </form>
                        </div>
                </div>
            </div>            
        </div>
    </div>
</div>
</section>
{% endblock %}